Source: pythonopenscad
Section: unknown
Priority: optional
Maintainer: unknown <wiw@unknown>
Build-Depends: debhelper-compat (= 13), cmake
Standards-Version: 4.6.0
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/pythonopenscad
#Vcs-Git: https://salsa.debian.org/debian/pythonopenscad.git
Rules-Requires-Root: no

Package: pythonopenscad
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
